$w-title: 300;
$s-title: 1.7em;
$s-title2:1.5em;

h2{
  font-weight: $w-title;
  font-size: $s-title;
}

.about{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 220px;
  padding-bottom: 65px;
  @extend .clearfix;
  border-bottom: 4px solid $green;

  .r-photo{
    width: 40%;
    @extend .clearfix;

    .photo{
      width: 50%;
      border-radius: 5%;
      margin-left: 20%;
      margin-top: 10%;
    }
  }

  .main-about{
    width: 60%;
    margin-top: -22%;
    margin-bottom: 5%;
    float: right;
    color: $green;
    font-weight: 300;

    h1{
      font-size: 3em;
      font-weight: 400;
      margin: 0;
    }

    h3{
      font-size: 1.5em;
      font-weight: 200;
      margin: 0;
    }

    p{
      color: $darkgreen;
      font-weight: 300;
      font-size: 16px;
      padding-bottom: 25px;
      line-height: 26px;
    }
  }
}


.links{  //For all links inside text
  font-size: 1em;
  text-decoration: none;
  color: $green;
}

.fa{ //For all awesome font icons
  text-decoration: none;
  color: $green;
  font-size: 3em;
}

a:hover{ //For all <a> tags
  color: $darkgreen !important;
}

//MOBILE
@media (max-width: 667px) {
  .about{
    padding-top: 155px;

    .r-photo{
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      padding-bottom: 30px;
    }

    .main-about{
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      float: none;
      margin-top: 0%;
    }
  }

  .fa{
    font-size: 3em;
    padding-right: 10px;
  }
}
