.contact{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 4px solid $green;
  h4{
    font-size: $s-title2;
    font-weight: $w-title;
    color: $green;
    margin-left: 38%;
  }
}

.contact-links{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5%;
  text-align: center;
  a{
    display: inline-block;
    font-size: 3em;
    margin-right: 2%;
  }
  .fa-sticky-note{
    border-radius: 5%;
  }
}
