$green: rgb(60,179,113);
$white: rgb(255,250,240);
//$lightgreen: #E5F7DF;
$lightgreen: rgb(237,250,245);
$darkgreen: rgb(6,64,41);

body{
  font-family: Roboto;
  background-color: $lightgreen;
}
.main-nav{
  background-color: $green;
  color: $white;
  @extend .clearfix;
  .name-top{
    margin-left: 10%;
    width: 20%;
    font-size: 2em;
    font-weight: 200;
  }
  .fa-bars{
    display: none;
  }
  .navigator{
    float: right;
    margin-top: -5.5%;
    width: 30%;
    a{
      text-decoration: none;
      color: $white;
      margin-right: 5%;
      margin-bottom: 5%;
      font-weight: 200;
      font-size: 1.2em;
    }
    a:hover{
      color: $darkgreen;
    }
  }
}

@media (max-width: 1024px) and (min-width: 768px){      //TABLET
.main-nav{
  .fa-bars{
    display: inline;
    float: right;
    color: $white;
    font-size: 3em;
    margin-right: 5%;
    margin-top: -8%;
  }
  .navigator{
    display: none;
  }
}


}

@media (max-width: 767px) {           //MOBILE

}
